*{
	font-family:calibri;
	margin:0px;	
	margin-bottom:-3.5px;
}
body{
	cursor:url("../cursor/puntero.cur"),auto;
}
body a{
	cursor:url("../cursor/puntero_hover.cur"),auto;
}
.cab{
	list-style:none;
	display:flex;
	background-color:#4db8ff;
	width:100%;
	position: sticky;
	top:0;
	margin:left;
	font-family:courier new;
	height:75px;
}
.cab > ol,ul{
	list-style:none;
}
.cab p{
	padding-left: 20px;
	margin:auto;
	font-style: italic;
	font-family: Impact;
}
.cuerpo{
	margin-top:5px;
}
.login{
	margin-right:10px;
	margin-top:5px;
	width:70px;
	height:70px;
}
.logo{
	width:65px;
	height:65px;
}
.ima{
	display: flex;
	background-color: #4db8ff;
	margin:auto;
}
ol >li{
	width: 20px;
}
.ima img{
	width:65px;
	height:65px;
}
.ima p{
	font-size: 25px;
}
.ima a{
	text-decoration: none;
}
.ima a > p{
	margin-top: 15px;
	color:#000000;
}
ul{
	width:100px;
}
li >.ima{
width:25px;
color:#000000;
margin-top: 2px;
}
ul li >a{
width:75px;
color:#000000;
background-color:#4db8ff;
margin-top: 2px;
}
li img{
	width: 25px;
	height: 25px;
}
ul li >a:hover{
	font-weight: bold;
	background-color:#f1d048;
	transition:0.5s;
}
.cuerpo li >a {
	margin-left: -40px;
	text-decoration:none;
	padding:20.7px;
	display:block;
}

.cuerpo li ul {
	margin-top:7px;
	display:none;
	width:120px;
}

.cuerpo li:hover > ul {
	margin-left: -40px;
	display:block;
}
.redes{
	width: 40px;
	height: 40px;
}
/*FIN MENU*/
.body{
	margin: auto;
	width:85%;
}
@media(max-width:1000px){
	.body{
		width:95%;
	}
}
.top{
	text-align: center;
}
.top h1{
	font-size: 50px;
	color: #005ea8;
}
.top hr{
	margin: auto;
	margin-top: 5px;
	width: 175px;
	color: #f1d048;
	border: #f1d048 2px solid;
}
.historia{
	display: flex;
}
@media(max-width:900px){
	.historia{
		display:inline;
	}
}
.texto{
	width: 100%;
	margin-right:25px;
}
.centrado img{
	width: 400px;
	height: 300px;
}
@media(max-width:900px){
	.centrado img{
		width: 400px;
		height: 300px;
	}
	.centrado{
		width: 400px;
		height: 300px;
		margin:auto;
	}
}
@media(max-width:750px){
	.centrado img{
		width: 300px;
		height: 200px;
	}
	.centrado{
		width: 300px;
		height: 200px;
		margin:auto;
	}
}
.escala table{
	width:300px;
	margin:auto;
}
table ,td ,th{
	padding:10px;
	border-collapse:collapse;
	text-align:center;
	border:#005ea8 2px solid;
}
th{
	background-color:#f1d048;
}
.propiedades{
	margin-top:-5px;
	margin-left:15px
}
/*Footer*/
.footer{
	line-height: 30px;
	padding:3px 50px;
	background-color:#001b2c ;
	text-align:center;
	color:#ffffff;
}
.footer a > .fotlogo{
	margin-bottom: 10px;
	width: 100px;
	margin-top: -10px;
	margin-bottom: -10px;
}
.footer a{
	color:#ffffff;
	text-decoration: none;
}
.footer a:hover{
	color:#4db8ff;
}
.fotredes{
	padding-top: 10px;
	margin: auto;
	width: 250px;
	height: 50px;
}
.fotredes img{
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	width: 40px;
	height: 40px;
}